.logo-type-container {
    margin-right: 10px;
    position: relative;
}

.logo-type {
    background-color: #eee;
    width: 50px;
    height: 50px;
    text-align: center;
}

.logo-type-label {
    margin-top: 5px;
    font-size: 8pt;
    color: #ccc;
}

.svg-icon {
    margin-top: 17px;
    width: 16px;
    opacity: .5;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
.column {
    padding: 0 4px;
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }
  
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .column .img-holder img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .column .img-holder {
    position: relative;
  }
 
  .column .img-holder button {
    background: #6f6f6f52;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 0;
    right: -7px;
    top: -1px;
    position: absolute;
  }
  .column .img-holder button:hover {
    background: #6f6f6f8a;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    padding: 0;
    right: -7px;
    top: -1px;
    position: absolute;
  }
  .column .img-holder button i {
    color: #fff;
    z-index: 9999;
    opacity: 0.6;
  }
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }