$font-stack: 'Montserrat', sans-serif;
$font-secondary: 'Roboto', sans-serif;
$primary-color: #5a6870;
$wrp-bg: #f4f4f4;
$link: #6948d9;
$hover: #cd3cad;
$head-color: #414141;
$secondary-color: #a359c9;
$btn-primary-color: #6948d9;
$btn-secondary-color: #cd3cad;
$line-color: #b4b4b4;
$btn-top-color: #ca3cae;
$btn-bottom-color: #6a48d9;
$horz-grd-one: #3f4a88;
$horz-grd-two: #5e4a95;
$horz-grd-three: #9e44b2;
$nav-bg: #ffffff;
$nav-color: #5d5d5d;
$nav-active-bg: #f3f3f3;
$header-bg: #ffffff;
$white: #ffffff;
$info: #20A8D8;
$danger: #F86C6B;
$warning: #F8CB00;
$success: #4DBD74;
$muted-color: #b0bec5;
$cart-border: #dbdbdb;
$input-border: #ddd;
$input-focus-border: #93a1bb;
$drop-down-border: #eeeeee;
$drop-down-bg: #e1e5ec;
$disabled-bg: #F1F1F1;
$success-bg: #f0fff0;
$profile-detail-bg: #65477b;
$profile-line: #e5e4e4;
$profile-hover: #ededed;
$profile-toggle-bg: #f9f9f9;
$green-btn: #02d802;
$session-bg: rgba(89,50,111,0.1);
$session-nav-bg: rgba(95,50,114,0.6);
$session-nav-active: #5f3272;
$session-border: #af9fb9;
$table-head-bg: #626172;
$table-row-hover: #f8f8f8;
$table-row-border: #d1d1d1;
$accordion-table-head: #939393;
$want-to-bg: #434e8c;
$want-to-title-bg: #3e4882;
$want-to-menu: #b8bfe4;
$want-to-border: #5a629c;
$product-added-bg: rgba(37,211,102, 0.6);
$product-added-border: rgba(255,255,255,0.7);
$card_even_bg: #fafafa;
$img-border: #807ED2;
$visa: #1a1f71;
$master: #ff5f00;
$amex: #007cc3;
$checkbox-outline: #a69ad7;