<div class="row">
    <div class="column" *ngIf="imageSettings?.length > 0">
        <img *ngFor="let img of imageSettings" [src]="processImgUrl(img.url)" [alt]="img.name" [ngClass]="{ selected: img.uniqueId === settings.selectedImageUniqueId }" appSelectable (click)="open(content,img.uniqueId)">
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Birthday Template</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="col-md-12">
                <form accept-charset="UTF-8" method="POST" target="_blank">
                    <!-- <div class="form-group">
                        <label for="companyName">Company Name</label>
                        <input type="text" name="companyName" [(ngModel)]="companyName" class="form-control" placeholder="My Company" required="required">
                    </div> 
                    <div class="form-group" *ngIf="settings.selectedImageUniqueId === 'bk2'">
                        <label for="address" required="required">Footer Higlight Text</label>
                        <input type="text" name="address" [(ngModel)]="address" class="form-control" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="message">Message (Optional)</label>
                        <input type="text" name="message" [(ngModel)]="message" class="form-control" placeholder="Wishing you a">
                    </div>
                    <div class="form-group mt-3">
                        <label class="mr-2 mb-2">Upload Photo:</label>
                        <input type="file" [(ngModel)]="photo" name="photo" (change)="onSelectFileChange($event)">
                    </div>
                    <div class="form-group mt-3">
                        <label class="mr-2 mb-2">Upload Company Logo:</label>
                        <input type="file" [(ngModel)]="companyLogo" name="companyLogo" (change)="onSelectFileChange($event)">
                    </div>-->
                    <div class="form-group">
                        <label class="mr-2 mb-2">Upload Photo:</label>
                        <input type="file" [(ngModel)]="photo" name="photo" (change)="onSelectFileChange($event)">
                        <image-cropper
                            [imageChangedEvent]="imageChangedEvent"
                            [maintainAspectRatio]="true"
                            [imageBase64] = "photo"
                            [containWithinAspectRatio]="true"
                            [resizeToWidth]="settingsForTemplate[0].imgModels[0].width"
                            [cropperMinWidth]="settingsForTemplate[0].imgModels[0].width"
                            [onlyScaleDown]="true"
                            [roundCropper]="false"
                            [canvasRotation]="0"
                            [transform]="transform"
                            [alignImage]="'left'"
                            [style.display]="null"
                            format="png"
                            (imageCropped)="imageCropped($event)"
                        ></image-cropper>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" [(ngModel)]="name" class="form-control" placeholder="" required="required">
                    </div>
                    <div class="form-group">
                        <label for="footerCopy" required="required">Footer Copy</label>
                        <input type="text" name="footerCopy" [(ngModel)]="footerCopy" class="form-control" placeholder="">
                    </div>
                    
                    <div class="form-group" *ngIf="settings.selectedImageUniqueId === 'bk2'">
                        <label for="address" required="required">Footer Higlight Text</label>
                        <input type="text" name="address" [(ngModel)]="address" class="form-control" placeholder="">
                    </div>
                    <div class="form-group" *ngIf="settings.selectedImageUniqueId === 'bk2'">
                        <label for="name">Phone Number</label>
                        <input type="text" name="phoneNUmber" [(ngModel)]="phoneNUmber" class="form-control" placeholder="" required="required">
                    </div>
                    <hr>
                    <button type="submit" class="button float-right btn-primary" (click)="addText()">Apply Changes</button>
                </form>
            </div>
        </form>
    </div>
</ng-template>