<div class="row">
    <div class="column" *ngIf="imageSettings?.length > 0">
        <img *ngFor="let img of imageSettings" [src]="processImgUrl(img.url)" [alt]="img.name" [ngClass]="{ selected: img.uniqueId === settings.selectedImageUniqueId }" appSelectable (click)="open(content,img.uniqueId)">
    </div>
</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Birthday Template</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="col-md-12">
                <form [formGroup]="form" accept-charset="UTF-8" method="POST" target="_blank">
                    <div class="form-group" *ngFor="let field of fields"> 
                        <app-form-fields [options]="field" [form]="form" >
                        </app-form-fields>
                    </div> 
                    <hr>
                    <button type="submit" class="button float-right btn-primary" (click)="addText()">Apply Changes</button>
                </form> 
                <div class="row" *ngIf="uploadedFiles.length >0">
                    <image-cropper
                            [maintainAspectRatio]="true"
                            [imageBase64] = "originalImage"
                            [containWithinAspectRatio]="true"
                            [resizeToWidth]="currentimgWidth"
                            [cropperMinWidth]="currentimgWidth"
                            [onlyScaleDown]="true"
                            [roundCropper]="false"
                            [canvasRotation]="0"
                            [transform]="transform"
                            [alignImage]="'left'"
                            [style.display]="null"
                            format="png"
                            (imageCropped)="imageCropped($event)"
                        ></image-cropper>
                    <div class="column"  *ngFor="let item of uploadedFiles">
                        <label>{{item.label}}</label>
                        <span (click)="cropImage(item.imgid)">
                        <img [src]="item.imgValue" height="100px" width="100px" class="img-list" />
                        </span> 
                    </div>
                </div>
                <!--  <div *ngIf="croppedImage.length >0">
                    <img [src]="croppedImage" height="200px" width="200px" class="img-list" />
                </div> -->
            </div>
        </form>
    </div>
</ng-template>