<app-header (downloadFiles)="onDownload()"></app-header>
<main class="main_wrp">
    <div class="row">
        <div class="col-3">
            <nav class="side_nav">
                <ul>
                    <li (click)="activeTabId = 'workflow'">
                        <a href="javascript:void(0)" [class.active]="activeTabId === 'workflow'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M19.5 10V5a.5.5 0 0 0-.5-.5h-4.5V10h5zm0 1.5h-5v8H19a.5.5 0 0 0 .5-.5v-7.5zm-6.5-7H5a.5.5 0 0 0-.5.5v14c0 .28.22.5.5.5h8v-15zM5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2z"></path></svg>
                            <span>Templates</span>
                        </a>
                    </li>
                    <li (click)="activeTabId = 'templates'">
                        <a href="javascript:void(0)" [class.active]="activeTabId === 'templates'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M4.03 21.03a.75.75 0 0 1-1.06-1.06l17-17a.75.75 0 0 1 1.06 1.06l-17 17zm4.5.5a.75.75 0 0 1-1.06-1.06l13-13a.75.75 0 0 1 1.06 1.06l-13 13zm5 0a.75.75 0 0 1-1.06-1.06l8-8a.75.75 0 0 1 1.06 1.06l-8 8zm5.5-.5a.75.75 0 0 1-1.06-1.06l2-2a.75.75 0 0 1 1.06 1.06l-2 2zm-15.5-4.5a.75.75 0 0 1-1.06-1.06l13-13a.75.75 0 0 1 1.06 1.06l-13 13zm0-5a.75.75 0 0 1-1.06-1.06l8-8a.75.75 0 0 1 1.06 1.06l-8 8zm.5-5.5a.75.75 0 0 1-1.06-1.06l2-2a.75.75 0 0 1 1.06 1.06l-2 2z" fill="currentColor"></path></svg>
                            <span>Background</span>
                        </a>
                    </li>
                    <li (click)="activeTabId = 'layout'">
                        <a href="javascript:void(0)" [class.active]="activeTabId === 'layout'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M19.5 10V5a.5.5 0 0 0-.5-.5h-4.5V10h5zm0 1.5h-5v8H19a.5.5 0 0 0 .5-.5v-7.5zm-6.5-7H5a.5.5 0 0 0-.5.5v14c0 .28.22.5.5.5h8v-15zM5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2z"></path></svg>
                            <span>Layout</span>
                        </a>
                    </li>
                    <li (click)="activeTabId = 'text'">
                        <a href="javascript:void(0)" [class.active]="activeTabId === 'text'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M18 5.5h-5.25V18c0 .28.22.5.5.5h2a.75.75 0 1 1 0 1.5h-6.5a.75.75 0 1 1 0-1.5h2a.5.5 0 0 0 .5-.5V5.5H6a.5.5 0 0 0-.5.5v1.25a.75.75 0 0 1-1.5 0V5.5C4 4.67 4.67 4 5.5 4h13c.83 0 1.5.67 1.5 1.5v1.75a.75.75 0 1 1-1.5 0V6a.5.5 0 0 0-.5-.5z"></path></svg>
                            <span>Text</span>
                        </a>
                    </li>
                    <li (click)="activeTabId = 'images'">
                        <a href="javascript:void(0)" [class.active]="activeTabId === 'images'">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M5 3h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5c0-1.1.9-2 2-2zm0 1.5a.5.5 0 0 0-.5.5v14c0 .28.22.5.5.5h14a.5.5 0 0 0 .5-.5V5a.5.5 0 0 0-.5-.5H5zm5.75 10.1l3.05-4.15a2 2 0 0 1 3.22-.01L21 15.78V19a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-.09l3.82-5.25a2 2 0 0 1 3.22 0l.7.95zm3.6 4.9H19a.5.5 0 0 0 .5-.5v-2.72l-3.69-4.94a.5.5 0 0 0-.8 0l-3.33 4.53 2.68 3.63zm-5.51-4.96a.5.5 0 0 0-.81 0l-3.44 4.74a.5.5 0 0 0 .41.22h7.5l-3.66-4.96zM8.5 10a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"></path></svg>
                            <span>Photos</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <section class="detailed-controls">
                <ng-container [ngSwitch]="activeTabId">
                    <app-template *ngSwitchCase="'workflow'" [templateSettings]="templateSettings" [settings]="settings" (sizeSettingsChange)="onSizeSettingsChange($event)"
                    (textSettingsChange)="onTextSettingsChange($event)" 
                    (logoSettingsChange)="onLogoSettingsChange($event)"
                    (imageSettingsChange)="onImageSettingsChange($event)"></app-template>
                    <app-image-select *ngSwitchCase="'templates'" [settings]="settings" (imageSettingsChange)="onImageSettingsChange($event)"></app-image-select>
                    <!-- Sizes Component -->
                    <app-sizes-select *ngSwitchCase="'layout'" [settings]="settings" (sizeSettingsChange)="onSizeSettingsChange($event)"></app-sizes-select>
                    <!-- Text Component -->
                    <app-text-select *ngSwitchCase="'text'" [settings]="settings" (textSettingsChange)="onTextSettingsChange($event)"></app-text-select>
                    <!-- Logo Component -->
                    <app-logo-select *ngSwitchCase="'images'" [settings]='settings' (logoSettingsChange)="onLogoSettingsChange($event)"></app-logo-select>
                </ng-container>
            </section>
        </div>
        <div class="col-9">
            <div class="poster-container h-100">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-12">
                        <div class="editor-box" [style.zoom]="settings.sizeSettings.sizes[settings.selectedSizeIndex].width > 550 ? zoomValue === '' ? '50%' : zoomValue : zoomValue === '' ? '100%' : zoomValue">
                            <app-canvas-select [settings]="settings"></app-canvas-select>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tools">
        <div ngbDropdown>
            <button class="btn btn-outline-primary" id="dropdownConfig" ngbDropdownToggle>{{ settings.sizeSettings.sizes[settings.selectedSizeIndex].width > 550 ? zoomValue === '' ? '50%' : zoomValue : zoomValue === '' ? '100%' : zoomValue }}</button>
            <div ngbDropdownMenu aria-labelledby="dropdownConfig">
                <button ngbDropdownItem  *ngFor="let zoomText of zoom" (click)="zoomImage(zoomText);">{{zoomText}}</button>
            </div>
        </div>
    </div>
   
    
    
</main>







